{% extends "property.html" %}

{% block content %}

<div class="container">
    <h2>All Restaurant Orders</h2>

    <table border="1" cellpadding="10" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Order No</th>
                <th>Type</th>
                <th>Table</th>
                <th>Room</th>
                <th>Status</th>
                <th>Items</th>
                <th>Total</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.order_number }}</td>
                <td>{{ order.get_order_type_display }}</td>

                <td>
                    {% if order.table %}
                        {{ order.table.number }}
                    {% else %}
                        -
                    {% endif %}
                </td>

                <td>
                    {% if order.room %}
                        {{ order.room.room_number }}
                    {% else %}
                        -
                    {% endif %}
                </td>

               <td>
    <span class="badge 
        {% if order.status == 'pending' %}b-amber
        {% elif order.status == 'preparing' %}b-blue
        {% elif order.status == 'served' %}b-green
        {% elif order.status == 'cancelled' %}b-red
        {% else %}b-gray
        {% endif %}
    ">
        {{ order.get_status_display }}
    </span>
</td>

                <td>
                    <ul>
                        {% for item in order.items.all %}
                        <li>
                            {{ item.quantity }} × {{ item.item.name }}
                            (₹{{ item.unit_price }})
                        </li>
                        {% endfor %}
                    </ul>
                </td>

                <td>₹{{ order.total_amount }}</td>
                <td>{{ order.created_at }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">No orders found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}